*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4c531;

}

.container{
    background-color: #fff;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 6em;
    border:0.6em ;
    border-radius: 0.6em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.search-container{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input{
    padding: 0.6em;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
}

.search-container button{
    font-size: 1em;
    background-color: #116530;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
    cursor: pointer;
}

.search-container button:hover{
    background-color: #f4c531;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

img{
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
}

#recipe{
    position: absolute;
    background-color: #fff;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
}

.details{
    background-color: #116530;
    color: #fff;
    position: relative;
    margin: -3.3em auto 0 0;
    text-align: center;
    padding: 0.6em 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.details h2{
    font-size: 1.2em;
    font-weight: 600;
}

.details h4{
    font-size: 1em ;
    font-weight: 400;
}

#recipe pre{
    white-space: pre-wrap;
    word-wrap:break-word ;
    padding: 2.5em 1.2em 1.2em 1.2em;
}

#hide-recipe{
    font-size: 1em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: #116530;
    color: #fff;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 0.3em;
    cursor: pointer;
}

#hide-recipe:hover{
    background-color: #f4c531;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

#show-recipe{
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.6em 0.6em;
    background-color: #116530;
    color: #fff;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 400;
    cursor: pointer;
}

#show-recipe:hover{
    background-color: #f4c531;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

ul{
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
}

h3{
    text-align: center;
    margin-top: 1.8em;
    color: red;
}


@media screen and (max-width:500px) {
    .container{
        font-size: 14px;
    }
}


.social {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social h4 {
    padding: 1rem;
}

.social h4 a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease;
}

.social h4 a:hover {
    color: #116530;
    padding: 0.8rem;
    /* background-color: #fff; */
    transition: all 0.2s ease;
    /* border-radius: 10px; */
}